<!-- rendering the API to the page -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="api"><%= @contributors %> people have contributed</p>
    </div>

    <div class="col-md-6">
      <p class="api"><%= @raised_amount %> so far</p>
    </div>
  </div>
</div>
<br>
