<!-- Countdown to the Rio Olympics widget partial -->

<div align="center" style="margin: 15px 0px 0px;"><div align="center" style="width: 140px; border: 1px solid rgb(204, 204, 204); text-align: center; color: rgb(0, 61, 121); font-weight: bold; font-size: 12px; background-color: rgb(255, 255, 255);"><a href="http://mycountdown.org/Sports/2016_olympics/" style="text-decoration: none; font-size: inherit; color: rgb(0, 61, 121);">2016 Olympics Countdown</a></div><script type="text/javascript" src="http://mycountdown.org/countdown.php?cp2_Hex=ffffff&cp1_Hex=003d79&img=3&hbg=&fwdt=330&lab=0&ocd=2016 Olympics&text1=2016 Olympics&text2=2016 Olympics&group=Sports&countdown=2016 Olympics&widget_number=3012&timezone=UTC"></script></div>
