<!-- Countdown to the Rio Olympics widget partial -->

<div class="tc_div_39726 col-md-6" style="width:100%;height:auto;">
  <a title="Rio 2016 Summer Olympics" href="http://www.tickcounter.com/widget/countdown/1470391200000/america-chicago/ydhms/FFFFFF3B5998000000FF0000//C0C0C01/Rio_2016_Summer_Olympics">Rio 2016 Summer Olympics</a>
  <a title="Countdown" href="http://www.tickcounter.com/">Countdown</a>
</div>
<script type="text/javascript">
(function(){ var s=document.createElement('script');s.src="http://www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_39726', 'Countdown', 650, ["1470391200000","america-chicago","ydhms","FFFFFF3B5998000000FF0000","0","C0C0C01","Rio 2016 Summer Olympics"]);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());
</script>

<!-- Countdown widget taken from: http://www.tickcounter.com/countdown/1470373200000/america-chicago/ydhms/FFFFFF3B5998000000FF0000/Rio_2016_Summer_Olympics -->
