<p class="timer">Time Remaining</p>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="timer">Days</th>
        <th class="timer">Hours</th>
        <th class="timer">Minutes</th>
      </tr>
    </thead>
    <tbody id="counter">
      <tr>
          <td class="timer2"><%= @days %></td>
          <td class="timer2"><%= @hours %></td>
          <td class="timer2"><%= @minutes %></td>
      </tr>
    </tbody>
  </table>

</div>
